@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 221.2 83.2% 53.3%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 224.3 76.3% 48%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

textarea::-webkit-scrollbar {
  display: none;
}

textarea {
  scrollbar-width: none;
}

.ql-tooltip.ql-editing.ql-flip {
  z-index: 1000;
}

.quill .ql-editor img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 60%;
  width: 60%;
  max-width: 60%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

/* Width */
.modules-container::-webkit-scrollbar,
.module-groups-container::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}

/* Track */
.modules-container::-webkit-scrollbar-track,
.module-groups-container::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.modules-container::-webkit-scrollbar-thumb,
.module-groups-container::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 8px;
  height: 1rem;
}

/* Handle on hover */
.modules-containerlbar-thumb:hover,
.module-groups-container::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}

.quill {
  min-height: 200px;
}

* {
  scroll-behavior: smooth;
}

.test-bang {
  transition: 500ms all ease-out;
}

div.modules-accordion {
  display: grid;
  grid-template-rows: 0fr;
  transition: 200ms all ease-out;
  overflow: hidden;
}

div.modules-accordion.show {
  grid-template-rows: 1fr;
}

.horizontal-accordion {
  /* display: grid;
  grid-template-columns: 0fr; */
  transition: 200ms all ease-out;
  overflow: hidden;
  width: 0;
}

.horizontal-accordion.show {
  /* grid-template-columns: 1fr; */
  width: 100%;
}

/*!
 * Quill Editor v1.3.7
 * https://quilljs.com/
 * Copyright (c) 2014, Jason Chen
 * Copyright (c) 2013, salesforce.com
 */
.ql-container {
  box-sizing: border-box;
  height: 100%;
  margin: 0px;
  position: relative;
  color: black;
}
.ql-container.ql-disabled .ql-tooltip {
  visibility: hidden;
}
.ql-container.ql-disabled .ql-editor ul[data-checked] > li::before {
  pointer-events: none;
}
.ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
}
.ql-clipboard p {
  margin: 0;
  padding: 0;
}
.ql-editor {
  box-sizing: border-box;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.ql-editor .ql-size-small {
  font-size: 0.75em !important;
}
.ql-editor .ql-size-large {
  font-size: 1.25em !important;
}
.ql-editor .ql-size-huge {
  font-size: 1.5em !important;
}

.ql-bubble .ql-editor h1 {
  font-size: 1.5em !important;
}
.ql-bubble .ql-editor h2 {
  font-size: 1.25em !important;
}
.ql-bubble .ql-editor h3 {
  font-size: 1.1em !important;
}
.ql-bubble .ql-editor h4 {
  font-size: 1em !important;
}
.ql-bubble .ql-editor h5 {
  font-size: 0.83em !important;
}
.ql-bubble .ql-editor h6 {
  font-size: 0.67em !important;
}

.ql-editor p,
.ql-editor ol,
.ql-editor ul,
.ql-editor pre,
.ql-editor blockquote{
  font-size: 1rem !important;
}